
.form-group label {
    color: white;
    font-size: 1.2em;
    margin-right: 10px;
}



.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-right: 10px;
    min-width: 150px;
}

.form-group input,
.form-group select {
    flex: 1;
}

.form-group input, .form-group select {
    font-size: 1.5em;
    padding: 5px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.checkbox-group {
    font-size: 1.5em;
    color: white;
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
}

.checkbox-group input[type="checkbox"] {
    margin: 0;
    transform: scale(1.2);
}



.btn-success {
    margin-right: 10px;
}

.form-group .btn {
    font-size: 1.2em;
}

.alert-danger {
    font-size: 1.2em;
}

.form-container {
    padding: 1rem;

}